/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

.highlight pre { background-color: white; }
html, body {
             height: 100%;
             }

body {
       background-color: white;
       font-family: 'Droid Sans',helvetica, arial, clean, sans-serif;;
       font-size: 13.34px ;
       *font-size: small;
       text-align: center;
       }

.pdate {
         display:inline;
         color:#aaaaaa;
         font-size:70%;
         margin:0;padding:0;
         }
h1,h2, h3, h4, h5, h6 {
                        margin-top:0.5em;
                        font-size: 105%;
                        font-family: 'Esteban', serif;
                        }

h1 {
     font-size:110%;
     margin-bottom: 0em;
     line-height:0.8em;
     padding-bottom:0em;
     }

p {
    margin: 1em 0;
    }

a {
    color:  #a00;
    text-decoration: none;
    }

a:hover  {
           color: #E68415;
           }

a:visited {
  color: #a00;
            }

.title ul, .title li{
                      display: inline-block;
                      }
.title li  {
             list-style-type:none;
             }
.title li:after {
                  content: " "; padding: 0.2em;
                  }
table {
        font-size: inherit;
        font: 100%;
        }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/


ul.posts {
           margin-bottom: 2em;
           display:block;
           }

ul.posts li {
              line-height: 1.75em;
              display:block;
              }
ul.posts a {
             font-family: 'Esteban', serif;
             font-style:normal;
             }
ul.posts a:hover {
                   color: #E68415;
                   }
ul.posts span {
                color: #999;
                font-size: 100%;
                }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

   .site {
           font-size: 110%;
           text-align: justify;
           width: 70%;
           margin: 3em auto 2em 2em;
           float:left;
           line-height: 1.5em;
}

.title {
         color: #a00;
         font-weight: bold;
         margin-bottom: 2em;
         font-size:170%;
         font-family: 'Esteban', Georgia,serif;
}

.excerpt {
           /* font-style:italic; */
           font-family: 'Droid Sans',helvetica, arial, clean, sans-serif;;
           color:#000;
           display:inline;
           font-size:99%;
           
           }
.postdate {
                font-family: 'Esteban', serif;
                /* font-style:italic; */
                }
  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

.extra{
        margin-top:0.4em;}
.site .title a.extra {
                       float:left;
                       color: #aaa;
                       text-decoration: none;
                       font-size:50%
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

/* .site .footer { */
/*                 margin-top:2em; */
/*                 float:right; */
/*     font-size: 80%; */
/*     color: #666; */
/*     border-top: 4px solid #eee; */
/*     margin-top: 2em; */
/*     overflow: hidden; */
/*   } */

/*     .site .footer .contact { */
/*       float: left; */
/*       margin-right: 3em; */
/*     } */

/*       .site .footer .contact a { */
/*         color: #8085C1; */
/*       } */

/*     .site .footer .rss { */
/*       margin-top: 1.1em; */
/*       margin-right: -.2em; */
/*       float: right; */
/*     } */

/*       .site .footer .rss img { */
/*         border: 0; */
/*       } */

.footer {
    float:right;
    font-size: 80%;
    color: #666;
    /* border-top: 4px solid #eee; */
    margin-top: 3.2em;
    overflow: hidden;
  }

.footer .contact {
                   text-align:left;
      /* float: right; */
      margin-right: 3em;
    }

    .footer .contact a {
        color: #8085C1;
      }
    .footer .contact a:hover {
                       color:#E68415        ;
      }

 .footer  img {
        border: 0;
      }
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */
#markdown-toc {
                font-size:80%;
                }
#post pre , #post code {
                         border-left: 1px solid #ddd;
                         padding-left: 0.5em;
                         padding:0;
                         display:inline-block;
                         }
#post pre{
           border-left: 3px solid #ddd;
           padding-left: 0.5em;
           padding-bottom: 0.1em;
           margin-bottom:1em;
           }
#post code {
             border: none;
             display:inline;
             font-size: 85%;
             }
#post ul,
#post ol {
           margin-left: 1.35em;
           }



#related {
           margin-top: 2em;
           }

#related h2 {
              margin-bottom: 1em;
              }

.dsq-comment {
               font-size:0.6em;
               }

#dsq-content #dsq-comments .dsq-comment-message { font-size: 16px; }


