---
layout: default2
---
   <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
   <script src="{{ site.url }}/js/fleximage/jquery.flex-images.js"></script>
 <script type="text/javascript" src="{{ site.url }}/js/fancybox/jquery.fancybox.pack.js"></script>

<!-- Latest compiled and minified CSS -->

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{ site.url }}/css/screen.css" type="text/css" media="screen, projection"/>
<link rel="stylesheet" href="{{ site.url }}/js/fleximage/jquery.flex-images.css"/>
<link rel="stylesheet" href="{{ site.url }}/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
<script>
  $(document).ready(function() {
          $('.fancybox').fancybox();
   });

</script>

<div class="row"><div class="col-sm-2"></div>
<div class="col-sm-8">
<footer id="disqus_thread">
    {% include disqus.html %}
</footer>
</div>
</div>

